@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=PT+Sans&display=swap');
html{
    --ratio: 1.4;

    --size-1: calc(1rem * var(--ratio));
    --size-2: calc(var(--size-1)*var(--ratio));
    --size-3: calc(var(--size-2)*var(--ratio));

    font-family: 'PT Sans', sans-serif;
}
body {
    background-color: rgb(55, 55, 58);
    color: #f5eeee;
    display: grid;
    place-items: center;
}

text {
    fill: #f5eeee;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 22px;
    font-weight: 500;
    /* text-transform: uppercase; */
    font-variant-ligatures: none;
    letter-spacing: 6px;
    animation: rotate 30s linear infinite;
    transform-origin: 250px 250px;
}

svg{
    max-width: 80vmin;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.textcircle {
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
    transform-origin: 250px 250px;
}

svg:hover .textcircle {
    transform: scale(1.2) rotate(90deg);
}
.profile-pic{
    position:absolute;
    z-index:-5;
    opacity:.05;
    top:0;
}
.profile-pic img{
    width:80%;
}
h1{
    font-family: 'Averia Serif Libre', cursive;
    font-size:var(--size-3);
}
h2{
    font-size:var(--size-2);
}
.train-list{
    color:#f5eeee;
    font-size: clamp(16px, 2.5vmin, 21px);
    list-style-type:none;
    padding:5px;
}
.contact{
    border: 1px solid #2b2828;
    border-radius:10px;
    font-size:1.25rem;
    font-weight:bolder;
    padding:8px;
    animation: background-change 15s alternate infinite;
}
@keyframes background-change{
    0%{
        background-color: rgb(55, 55, 58);
    }
    100%{
        background-color:#868282;
        color:#1d1b1b;
    }
}
h3{
    font-size:var(--size-1);
    margin:1rem 0 0 5px;
}
.about-bio{
    font-size: 18px;
    font-size: clamp(16px, 2.5vmin, 21px);
    margin:1rem auto;
    max-width:35em;
    padding:5px 2rem 5px 2rem;
}
form{
    display:flex;
    flex-direction:column;
}
input{
    margin-bottom:15px;
}
.submit{
    width:fit-content;
    margin:1rem auto;
}